@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blog-article p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    @apply font-serif text-lg mt-0 mb-6 leading-7;
  }

  .blog-article a {
    @apply text-blue-400 hover:underline;
  }

  .blog-article h1 {
    @apply text-3xl leading-9 mt-9 mb-6;
  }

  .blog-article h2 {
    @apply text-2xl leading-8 mt-8 mb-5;
  }

  .blog-article ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    @apply list-disc mt-0 mb-6;
  }

  .blog-article li {
    @apply font-serif text-lg leading-7 mb-4;
  }

  .blog-article ul ul {
    list-style-type: circle;
  }

  .blog-article ul ul li {
    @apply leading-snug my-3;
  }

  .pro-tip-content p {
    @apply mb-0;
  }
}
