/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blog-article p {
    @apply font-serif text-lg mt-0 mb-6 mx-4;
  }

  .blog-article p a {
    @apply box-border bg-transparent text-blue-500 cursor-pointer no-underline transition-none hover:outline-none hover:underline;
  }

  .blog-article strong {
    @apply font-bold;
  }

  .blog-article h1,
  h2,
  h3 {
    @apply font-sans font-medium block;
  }

  .blog-article h1 {
    @apply text-3xl mt-10 mb-6 mx-4;
  }

  .blog-article h2 {
    @apply text-2xl mt-7 mb-4 mx-5;
  }

  .blog-article h3 {
    @apply text-xl mt-9 mb-5 mx-4;
  }

  .blog-article ul {
    @apply block list-disc mx-12;
  }

  .blog-article li {
    @apply font-serif text-lg mb-6;
  }

  .blog-article ul ul {
    @apply mt-4;
    list-style-type: circle;
  }
}
